.SponsorShipBackground {
 background-color: #F8F8F8;
 width: 100% !important;
 height: 10rem;
 display: flex;
 align-items: center;
 justify-content: center;
}

.SponsorShipBackground img{
 width: 20% !important;
 height: 20% !important;
}

.SponsorShipBackground img {
 margin-right: 20px;
 margin-left: 20px;
}

@media (max-width: 767px) {
 .SponsorShipBackground {
  display: none;
 }
}